<!doctype html>
<html lang="en">
<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>Institute of Management and Technology Punnapra</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/images/favi-con.png" type="image/png">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/stylesheets/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="public/stylesheets/animate.css">
    
    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="/stylesheets/nice-select.css">
    
    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="/stylesheets/jquery.nice-number.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="/stylesheets/default.css">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
  
  
</head>

<body>
   
    <!--====== PRELOADER PART START ======-->
    
    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>
    
    <!--====== PRELOADER PART START ======-->
    
    <!--====== HEADER PART START ======-->
    
    <header id="header-part">
       
        <div class="header-top d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact text-lg-left text-center">
                            <ul>
                                <li><img src="/images/all-icon/map.png" alt="icon"><span>Punnapra, Alappuzha District, Kerala, India</span></li>
                                <li><img src="/images/all-icon/email.png" alt="icon"><span>imtdirector@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header top -->
        
        <div class="header-logo-support pt-30 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">
                            <a href="/">
                                <img src="/images/imtpunnapra-logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header logo support -->
        
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="active" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/about-us">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admission">Admission</a>
                                        <ul class="sub-menu">
                                            <li><a href="courses.html">Courses</a></li>
                                            <li><a href="courses-singel.html">Course Singel</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/our-course">Our Course</a>
                                         
                                    </li>
                                    <li class="nav-item">
                                        <a href="/facilities">Facilities</a>
                                        <ul class="sub-menu">
                                            <li><a href="teachers.html">teachers</a></li>
                                            <li><a href="teachers-singel.html">teacher Singel</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/faculty">Faculty</a>
                                        <ul class="sub-menu">
                                            <li><a href="/faculty">Blog</a></li>
                                            <li><a href="blog-singel.html">Blog Singel</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/contact-us">Contact Us</a>
                                        <ul class="sub-menu">
                                            <li><a href="contact.html">Quick Enquiry</a></li>
                                            <li><a href="contact.html">Contact IMT Punnapra</a></li>
                                            <li><a href="contact-2.html">ONLINE GRIEVANCE REDRESSAL</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav> <!-- nav -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                        <div class="col-lg-8 col-md-8 my-2">
                            <div class="support-button float-right d-none d-md-block">
                                <div class="button float-left">
                                    <a href="#" class="main-btn">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
        
    </header>
    
    <!--====== HEADER PART ENDS ======-->
   
     <!--====== PAGE BANNER PART START ======-->
    
    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(images/page-banner-2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Admission</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Admission</li>
                            </ol>
                        </nav>
                        <marquee behavior="scrolling" direction="left">
                            <a href="#" style="font-size: large;color: #fff;text-decoration: none;">
                                Its the first Notification message ....
                            </a>
                            <a href="#" style="font-size: large;color: #fff;text-decoration: none;margin-inline: 10rem;">
                                Its the second Notification message ....
                            </a>
                        </marquee>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== PAGE BANNER PART ENDS ======-->


     
    <section id="event-singel" class="pt-120 pb-120 gray-bg">
        <div class="container">
            <div class="events-area">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="events-left">
                            <h3>Admission Process</h3>
                            <p>Admission to the MBA programme shall be based on the total score obtained by the candidate in KMAT/CMAT/CAT, Group discussion and Interview.
                                The weightage for the different components shall be as follows:</p>
                            <p>Components Points</p>
                            <p>KMAT/CMAT/CAT 80</p>
                            <p>Group Discussion 10</p>
                            <p>Interview 10</p>
                            <p>Total 100</p>
                            <br><h6>The process of admission will be as follows:</h6>
                            <p>The list of candidates shortlisted for the final selection process will be published in the IMT website (www.imtpunnapra.org). At the time of appearing for Group Discussion and Interview the candidates will have to produce the attested copies of Degree Certificates and Mark list. The final selection list of candidates will be published at the IMT website. The date of admission will be announced later. At the time of admission the candidates will have to produce the original certificates and mark list (and community certificates in case of reservation students). Candidates seeking admission should come prepared to pay the fees for the First year Rs. 100000/-.</p>
                            <br><h6>Fees</h6>
                            <p>The fees for the course shall Rs. 100, 000 per year (Rs 50,000 per Semester) and the total fees for the two year programme shall be Rs. 200,000. Fees to the university such as examination fees shall be additional. At the time of admission, full fees for the first year shall be paid. There shall be no refund of fees if the student leaves the course after commencement of classes.</p>
                            <br><h6>Course Structure</h6>
                            <p>In their first year the students are given ample exposure to basic management subjects, which later branches into specialisations of their choice during the second year. Spread over four semesters, the IMT course curriculum is designed to give students a comprehensive understanding of the management disciplines such as Marketing, Finance, Human Resources, Operations Systems and International Business. For the core curriculum and elective courses, the institute follows the course structure of the Kerala University. Additional noncredit courses and programmes for self development of the students are offered by the institute.</p>
                            <br><h6>Core Papers</h6><br>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Semester 1</th>
                                        <th>Semester 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>MBA 101 MANAGEMENT THEORIES AND PRACTICE</td>
                                        <td>MBA 201 RESEARCH METHODS FOR MANAGERS</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 102 ORGANISATIONAL BEHAVIOUR</td>
                                        <td>MBA 202 OPERATIONS RESEARCH</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 103 ACCOUNTING FOR MANAGERS</td>
                                        <td>MBA 203 BUSINESS COMMUNICATIONS</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 104 QUANTITATIVE TECHNIQUES</td>
                                        <td>MBA 204 HUMAN RESOURCE MANAGEMENT</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 105 BUSINESS ENVIORNMENT</td>
                                        <td>MBA 205 FINANCIAL MANAGEMENT</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 106 MANAGERIAL ECONOMICS</td>
                                        <td>MBA 206 MARKETING MANAGEMENT</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 107 OPERATIONS MANAGEMENT</td>
                                        <td>MBA 207 BUSINESS ETHICS AND CORPORATE GOVERNANCE</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br><h6>Evaluation during the summer break:</h6>
                            <p>MBA 208 SOFT SKILLS TRAINING</p><br>
                             <table class="table">
                                <thead>
                                    <tr>
                                        <th>Semester 3</th>
                                        <th>Semester 4</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>MBA 301 ENVIRONMENTAL MANAGEMENT</td>
                                        <td>MBA 401 STRATEGIC MANAGEMENT</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 302 MANAGEMENT INFORMATION SYSTEMS</td>
                                        <td>MBA 402 ENTREPRENEURSHIP DEVELOPMENTS</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 303 LAWS FOR BUSINESS</td>
                                        <td>MBA 403 ELECTIVE – VI</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 304 ELECTIVE – I</td>
                                        <td>MBA 404 ELECTIVE – VII</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 305 ELECTIVE – II</td>
                                        <td>MBA 405 ELECTIVE – VIII</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 406 PROJECTS</td>
                                        <td>MBA 306 ELECTIVE – III</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 407 COMPREHENSIVE VIVA voce</td>
                                        <td>MBA 307 ELECTIVE – IV</td>
                                    </tr>
                                    <tr>
                                        <td>MBA 308 ELECTIVE – V</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Marketing</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>Advertising & Sales Promotion</td></tr>
                                    <tr><td>Consumer Behavior</td></tr>
                                    <tr><td>Services Marketing</td></tr>
                                    <tr><td>Product Management</td></tr>
                                    <tr><td>Retail Marketing</td></tr>
                                    <tr><td>Marketing Research</td></tr>
                                    <tr><td>International Marketing</td></tr>
                                    <tr><td>Strategic Marketing Management</td></tr>
                                    <tr><td>Sales Management</td></tr>
                                    <tr><td>Pubtdc Relations and Customers Relationship Management</td></tr>
                                    <tr><td>Logistics Management</td></tr>
                                    <tr><td>Brand Management</td></tr>
                                    <tr><td>Entrepreneurial Marketing</td></tr>
                                </tbody>
                            </table>
                            <br>                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Human Resources</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>Organizational Development & Change</td></tr>
                                    <tr><td>Human Resource Development</td></tr>
                                    <tr><td>Roles Identity and career Management</td></tr>
                                    <tr><td>Group Dynamics and team – building</td></tr>
                                    <tr><td>Human resource Counseling</td></tr>
                                    <tr><td>Industrial Relations & Labour Laws</td></tr>
                                    <tr><td>Personality & Managerial Performance</td></tr>
                                    <tr><td>Global HRM</td></tr>
                                    <tr><td>Performance Management</td></tr>
                                    <tr><td>Conflict Resolutions and Negotiations</td></tr>
                                </tbody>
                            </table>
                            <br>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>Supply Chain Management</td></tr>
                                    <tr><td>Total Quality Management</td></tr>
                                    <tr><td>Purchase and Materials Management</td></tr>
                                    <tr><td>World class Manufacturing</td></tr>
                                    <tr><td>Technology Excellence</td></tr>
                                    <tr><td>Technology Management</td></tr>
                                </tbody>
                            </table>
                            <br>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Finance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>Security Analysis & Portfolio Management</td></tr>
                                    <tr><td>Management of Financial Services</td></tr>
                                    <tr><td>Financial Derivatives</td></tr>
                                    <tr><td>Project Financing</td></tr>
                                    <tr><td>Corporate Restructuring</td></tr>
                                    <tr><td>International Finance</td></tr>
                                    <tr><td>Investment Banking</td></tr>
                                    <tr><td>Management Control System</td></tr>
                                    <tr><td>Personal Financial Planning</td></tr>
                                    <tr><td>Financial Management</td></tr>
                                    <tr><td>Commodities Market</td></tr>
                                </tbody>
                            </table>
                            <br>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Systems</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>Knowledge Management</td></tr>
                                    <tr><td>Internet Programming and Web Design</td></tr>
                                    <tr><td>Business Intelligence and data warehousing</td></tr>
                                    <tr><td>System analysis and design</td></tr>
                                    <tr><td>Software Engineering</td></tr>
                                    <tr><td>Object Oriented Programming</td></tr>
                                    <tr><td>Software Project Management</td></tr>
                                </tbody>
                            </table>
                            <br>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>International Business</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>International Business Environment</td></tr>
                                    <tr><td>International Advertising</td></tr>
                                    <tr><td>International Marketing</td></tr>
                                    <tr><td>International Finance</td></tr>
                                    <tr><td>International Logistics Management</td></tr>
                                    <tr><td>Global HRM</td></tr>
                                    <tr><td>Export – Import Documentation and Procedures</td></tr>
                                    <tr><td>WTO and Intellectual Property Rights</td></tr>
                                </tbody>
                            </table>
                            </ul>
                        </div> <!-- events left -->
                    </div>
                </div> <!-- row -->
            </div> <!-- events-area -->
        </div> <!-- container -->
        <div class="raw">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                <div class="col-lg-8 col-md-8 my-2">
                    <div class="support-button">
                        <div class="button float-left">
                            <a href="#" class="main-btn">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== FOOTER PART START ======-->
    
    <footer id="footer-part">
        <div class="footer-top pt-40 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-about mt-40">
                            <div class="logo">
                                <a href="#"><img src="images/imtpunnapra-logo.png" alt="Logo"></a>
                            </div>
                            
                            <ul class="mt-20">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div> <!-- footer about -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-link mt-40">
                            <div class="footer-title pb-25">
                                <h6>Sitemap</h6>
                            </div>
                            <ul>
                                <li><a href="/"><i class="fa fa-angle-right"></i>Home</a></li>
                                <li><a href="/about-us"><i class="fa fa-angle-right"></i>About us</a></li>
                                <li><a href="/admission"><i class="fa fa-angle-right"></i>Admission</a></li>
                                <li><a href="/our-course"><i class="fa fa-angle-right"></i>Our Course</a></li>
                                <li><a href="/facilities"><i class="fa fa-angle-right"></i>Facilities</a></li>
                                <li><a href="/faculty"><i class="fa fa-angle-right"></i>Faculty</a></li>
                                <li><a href="/contact-us"><i class="fa fa-angle-right"></i>Contact Us</a></li>
                            </ul>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Gallery</a></li>
                                <li><a href="shop.html"><i class="fa fa-angle-right"></i>Shop</a></li>
                                <li><a href="teachers.html"><i class="fa fa-angle-right"></i>Teachers</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Support</a></li>
                                <li><a href="contact.html"><i class="fa fa-angle-right"></i>Contact</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-link support mt-40">
                            <div class="footer-title pb-25">
                                <h6>Support</h6>
                            </div>
                            <ul>
                                <li><a href="/contact"><i class="fa fa-angle-right"></i>Contact</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Privacy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Policy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Support</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Documentation</a></li>
                            </ul>
                        </div> <!-- support -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-address mt-40">
                            <div class="footer-title pb-25">
                                <h6>Contact Us</h6>
                            </div>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="cont">
                                        <p>Punnapra, Alappuzha District, Kerala, India</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="cont">
                                        <p>+91 9995092285</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="cont">
                                        <p>imtdirector@gmail.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- footer address -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer top -->
        
        <div class="footer-copyright pt-10 pb-25">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copyright text-md-left text-center pt-15">
                            <p><a target="_blank" href="">&copy; Institute of Management & Technology(IMT), Punnapra. All rights reserved. </a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="copyright text-md-right text-center pt-15">
                           
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>
    
    <!--====== FOOTER PART ENDS ======-->
   
    <!--====== BACK TO TP PART START ======-->
    
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    
    <!--====== BACK TO TP PART ENDS ======-->
   
    
    
    
    
    
    
    
    <!--====== jquery js ======-->
    <script src="/javascripts/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/javascripts/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/javascripts/bootstrap.min.js"></script>
    
    <!--====== Slick js ======-->
    <script src="/javascripts/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    
    <!--====== Counter Up js ======-->
    <script src="/javascripts/waypoints.min.js"></script>
    <script src="/javascripts/jquery.counterup.min.js"></script>
    
    <!--====== Nice Select js ======-->
    <script src="/javascripts/jquery.nice-select.min.js"></script>
    
    <!--====== Nice Number js ======-->
    <script src="/javascripts/jquery.nice-number.min.js"></script>
    
    <!--====== Count Down js ======-->
    <script src="/javascripts/jquery.countdown.min.js"></script>
    
    <!--====== Validator js ======-->
    <script src="/javascripts/validator.min.js"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="/javascripts/ajax-contact.js"></script>
    
    <!--====== Main js ======-->
    <script src="/javascripts/main.js"></script>
    
    <!--====== Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="/javascripts/map-script.js"></script>

</body>
</html>
